src/mqtt-node-red-gateway/flows.json
[{"id":"d6a3f863.996688","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88a4056f.6a01b8","type":"serial in","z":"d6a3f863.996688","name":"","serial":"a2791f91.592be","x":130,"y":300,"wires":[["a7b84a09.b4fe98","69126f23.5311b"]]},{"id":"779ff33.09f1b0c","type":"mqtt out","z":"d6a3f863.996688","name":"MQTT Send","topic":"","qos":"0","retain":"","broker":"bd423fd4.c7c09","x":750,"y":300,"wires":[]},{"id":"69126f23.5311b","type":"debug","z":"d6a3f863.996688","name":"Console Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":380,"wires":[]},{"id":"a7b84a09.b4fe98","type":"json","z":"d6a3f863.996688","name":"JsonConvert","property":"payload","action":"obj","pretty":false,"x":330,"y":300,"wires":[["d81f9e20.36c4"]]},{"id":"d81f9e20.36c4","type":"function","z":"d6a3f863.996688","name":"Create MQTT Msg","func":"var packet = msg.payload;\n\nmsg.topic = packet.t;\nmsg.payload = packet.p;\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["779ff33.09f1b0c","1784028d.3d9afd"]]},{"id":"1784028d.3d9afd","type":"debug","z":"d6a3f863.996688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":380,"wires":[]},{"id":"2f875e5f.b9b2a2","type":"mqtt in","z":"d6a3f863.996688","name":"Pump MQTT command","topic":"p/#","qos":"2","datatype":"auto","broker":"bd423fd4.c7c09","x":220,"y":600,"wires":[["1cde9d46.843d23"]]},{"id":"7678f035.7acb8","type":"serial out","z":"d6a3f863.996688","name":"","serial":"a2791f91.592be","x":730,"y":600,"wires":[]},{"id":"1cde9d46.843d23","type":"function","z":"d6a3f863.996688","name":"Create Serial Msg","func":"// ensure payload is either 0 or 1\n\n//return \"test\";\n\nmsg.payload = msg.payload ? 1 : 0\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["f3928112.e4a","7678f035.7acb8"]]},{"id":"f3928112.e4a","type":"debug","z":"d6a3f863.996688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":680,"wires":[]},{"id":"8a5cc233.8336a","type":"comment","z":"d6a3f863.996688","name":"MQTT to actuator sensor","info":"","x":510,"y":540,"wires":[]},{"id":"dbf169ad.21b6a8","type":"comment","z":"d6a3f863.996688","name":"Sensor Serial to MQTT","info":"","x":500,"y":240,"wires":[]},{"id":"a2791f91.592be","type":"serial-port","z":"","serialport":"COM4","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bd423fd4.c7c09","type":"mqtt-broker","z":"","name":"rpi public mqtt","broker":"121.200.24.207","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]