src/node-red/flows.json
[{"id":"d6a3f863.996688","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88a4056f.6a01b8","type":"serial in","z":"d6a3f863.996688","name":"","serial":"a2791f91.592be","x":170,"y":300,"wires":[["a7b84a09.b4fe98"]]},{"id":"779ff33.09f1b0c","type":"mqtt out","z":"d6a3f863.996688","name":"MQTT Send","topic":"","qos":"0","retain":"","broker":"bd423fd4.c7c09","x":730,"y":300,"wires":[]},{"id":"69126f23.5311b","type":"debug","z":"d6a3f863.996688","name":"Console Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":400,"wires":[]},{"id":"a7b84a09.b4fe98","type":"json","z":"d6a3f863.996688","name":"JsonConvert","property":"payload","action":"obj","pretty":false,"x":330,"y":300,"wires":[["d81f9e20.36c4"]]},{"id":"d81f9e20.36c4","type":"function","z":"d6a3f863.996688","name":"Create MQTT Msg","func":"var packet = msg.payload;\n\nmsg.topic = packet.topic;\nmsg.payload = packet.payload;\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["69126f23.5311b","779ff33.09f1b0c"]]},{"id":"a2791f91.592be","type":"serial-port","z":"","serialport":"COM4","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bd423fd4.c7c09","type":"mqtt-broker","z":"","name":"rpi public mqtt","broker":"121.200.24.207","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]